.form-signin {
  margin: auto;
  max-width: 500px;
  padding: 40px;
}

.imgCirculo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

#info {
  width: 50%;
  float: left;
}

#fotos {
  width: 100%;
}